html {
    background-color:  #026002;
}

h1 {
    font-size: 70px;
    color:#281700;
    text-align: center;
}

.start_container {
    width: 640px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.start{
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
}